@use './variables' as *;


main {
    font-family: $noto-sans;
    font-weight: 100;

    .doctors {
        background-color: #F7F7F7;

        .section_title {
            img {
                width: 50px;
            }

            .line {
                border-bottom: 1px solid black;
                width: 154px;
                height: 1px;
                margin: 1.5rem auto;
            }
        }
    }
}