@use './variables' as *;

/* COMMON MAIN RULES */

main {

    font-family: $noto-sans;
    font-weight: 100;
    text-align: center;

    h5 {
        font-weight: 100;
    }

    h6 {
        font-size: 0.85rem;
        font-weight: 100;
        line-height: 2rem;
        letter-spacing: 0.1rem;
    }
    
    .section_title img {
        width: 50px;
    }

    .line {
        width: 180px;
        margin: 1.5rem auto;
    }

    .bottom {
        .col {
            padding: 2rem 0;
            padding-left: 0;
            padding-right: 0;
        }

        .my_btn_learn_more {
            border: 1px solid $clr-light;
            background-color: transparent;

        }
    }

    .doctors .my_card {
        background-color: $clr-light;
    }

}