/* color cube */
$clr-light: #ffffff;
$clr-river-bed: #46525f;
$clr-pelorous: #39afbb;
$clr-french-gray: #bcbcbd;
$clr-firefly: #081425;
$clr-contessa: #bd7a69;
$clr-thunderbird: #cc201f;

/* Median cut */

$clr-gallery:#f1efef;
$clr-mako:#41474f;
$clr-pelorous-m:#449ebf;
$clr-raven:#7c858f;
$clr-cascade:#88acab;


/*  Material design */

$clr-pelorous-ma:#3ba5bd;
$clr-pine-cone:#655850;
$clr-firefly-ma:#0f1d2d;
$clr-limed-spruce:#3d4954;
$clr-limed-spruce:#3d4954;
$clr-contessa-ma: #c46e5f;
