/* color cube */
$clr-dark: #000000;
$clr-dark-1: #474747;
$clr-light: #ffffff;
$clr-light-1: #F7F7F7;
$clr-primary: #3AAFBF;
$clr-primary-1: #3597C3;
$clr-primary-2: #327EC7;
$clr-face: #3C5998;
$clr-twi: #54ACEE;
$clr-insta: #3F729B;
$clr-you: #CD201F;


/* Font style */
$montserrat: 'Montserrat', sans-serif;
$noto-sans: 'Noto Sans JP', sans-serif;